.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Cart ul {
  padding-inline-start: 0;
}

.Cart li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.CartList {
  width: 40vw;
}

.ColumnsNames {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.Actions {
  display: flex;
}

.Actions button:first-child{
  margin-right: 0.5rem;
}