.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ProductsList ul {
  align-items: center;
  padding-inline-start: 0;
  width: 40vw;
}

.ProductsList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.ColumnsNames {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
