.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ProductsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.ProductsTable th, .ProductsTable td {
  padding: 0.5rem 1rem;
  text-align: left;
}
